{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
    <nav class="navbar navbar-expand-md navbar-dark bg-dark mb-4">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">Top navbar</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <ul class="navbar-nav me-auto mb-2 mb-md-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Link</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link disabled" aria-disabled="true">Disabled</a>
                    </li>
                </ul>
                <form class="d-flex" role="search">
                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success" type="submit">Search</button>
                </form>
            </div>
        </div>
    </nav>
    <main class="container">
        <div class="bg-body-tertiary p-5 rounded">
            {{ form_start(form, {'attr': {'data-bs-target': 'add-comment'}}) }}
                <div class="mb-3">
                    <label for="exampleFormControlInput1" class="form-label">Nom</label>
                    {{ form_widget(form.name) }}
                </div>
                <div class="mb-3">
                    <label for="exampleFormControlTextarea1" class="form-label">Commentaire</label>
                    {{ form_widget(form.content) }}
                </div>
                <div class="mb-3">
                    <button type="submit" class="btn btn-primary">Envoyer</button>
                </div>
            {{ form_end(form) }}

            {% for c in comments %}
                {% if c.parent == null %}
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="card">
                                <div class="card-body">
                                    <h5 class="card-title">Nom : {{ c.name }}</h5>
                                    <p class="card-text">Commentaire : {{ c.content }}</p>
                                    <a href="#add-comment" data-reply data-id="{{ c.id }}" class="btn btn-primary">Répondre</a>
                                </div>
                            </div>
                            {% for reply in c.replies %}
                                <div class="card ms-5">
                                    <div class="card-body">
                                        <h5 class="card-title">Nom : {{ reply.name }}</h5>
                                        <p class="card-text">Commentaire : {{ reply.content }}</p>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
    </main>
{% endblock %}

{% block javascripts %}
    <script>
        // document.addEventListener('DOMContentLoaded', function() {
        //     document.querySelectorAll('[data-reply]').forEach(function (reply) {
        //         reply.addEventListener('click', function (e) {
        //             e.preventDefault();
        //             const id = e.target.getAttribute('data-id');
        //             const form = document.querySelector('form');
        //             form.querySelector('input[name="parent"]').value = id;
        //             form.scrollIntoView({behavior: 'smooth'});
        //         });
        //     });
        // });
        window.onload = () => {
            document.querySelectorAll("[data-reply]").forEach(element => {
                element.addEventListener("click", function(){
                    document.querySelector("#comment_parentId").value = this.dataset.id;
                });
            });
        }
    </script>
{% endblock %}